# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
.venv/
venv/
ENV/

# Model and vectorizer files
*.joblib

# Office documents
*.docx

# VS Code settings
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
